# Vivado/Vitis generated
.rigel_lopper/
_ide/
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.Xil/
**/logs/
**/export/
**/build/
**/.autopilot/

**/*.log
**/*.jou
**/*.str
**/*.backup.*
**/*.bit
**/*.bin
**/*.dcp
**/*.elf
**/*.o
**/*.obj
**/*.a
**/compile_commands.json
