# Vivado/Vitis generated
.rigel_lopper/
_ide/
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.Xil/
**/logs/
**/export/
**/build/
**/.autopilot/

**/*.log
**/*.jou
**/*.str
**/*.backup.*
**/*.bit
**/*.bin
**/*.dcp
**/*.elf
**/*.o
**/*.obj
**/*.a
**/compile_commands.json

/doc/.vs/
**.aux
/doc/*.bbl
/doc/*.blg
/doc/*.fdb_latexmk
/doc/*.fls
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.lof
/doc/*.lot
/doc/*.out
/doc/*.toc
/doc/*.synctex.gz
/doc/TeXiS-Manual-1.0.pdf
/doc/*.log
